{% extends 'base.html' %}
{%  load static %}

{% block local_styles %}

        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        .carousel-indicators li {
          width: 10px;
          height: 10px;
          border-radius: 100%;
        }

        .container_size {
            width: 55%;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .main_content {
            margin: 7%;
        }
{% endblock %}

{% block content %}
    <div class="card bg-info">
        <div class="card-body text-center">
            <img width=100 src="/static/main/img/timeout_logo.jpg" alt="TimeOut logo" title="TimeOut logo"/>
            <h3>TimeOut - Better together</h3></div>
    </div>

    <div class="container">
        <div class="card bg-success d-none" id="selected_venues">
            <div class="card-header h6 text-center">
                Selected Venues
            </div>
            <div class="card-body  bg-light text-center venues_accepted">

            </div>
        </div>
        <div class="card bg-warning d-none" id="excluded_venues">
            <div class="card-header h6 text-center">
                Not for this group...
            </div>
            <div class="card-body bg-light text-center venues_excluded">

            </div>
        </div>

        {% if content %}
          <div id="content_listing" class="alert alert-primary" role="alert" >
            <h5 id="listing_title" class="text-center">Going out Pals:</h5>
          </div>

            <tr id="main_content" class="main_content">
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Going</th>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Drinks</th>
                      <th scope="col">Won't eat</th>
                      <th scope="col">Notes</th>
                    </tr>
                  </thead>
                  <tbody>
                        {% for item in content %}
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="select_user" id="{{item.pk}}">
                                    </div>
                                </td>
                                <td>{{item.pk}}</td>
                                <td>{{item.name}}</td>
                                <td>
                                  {% if item.drinks.all %}
                                      {%  for drink in item.drinks.all %}
                                        {{ drink }} |
                                      {% endfor %}
                                  {% endif %}
                                </td>
                                <td>
                                  {% if item.wont_eat.all %}
                                      {%  for food in item.wont_eat.all %}
                                        {{ food }} |
                                      {% endfor %}
                                  {% endif %}
                                </td>
                                <td>{% if item.notes %}{{item.notes|safe}}{% endif %}</td>
                          </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="jumbotron">
                <h1>No content to display </h1>
                <p>Go to <a href="/admin">admin</a> and create some.</p>
            </div>
        {% endif %}
      </div>
{% endblock %}

{% block local_javascript %}
    <script>
        // 'api_host' will be necessary when accessing endpoints outside of 'localhost'
        let api_protocol = "";
        let api_host = "";
        let api_base = "/api";
        let url_base = api_protocol + api_host + api_base;

        $("input.select_user").click(function(){
            /* Get all selected users, and get the list of venues that
                comply with their preferences
            */
            let selected = [];

            $('input.select_user').each(function() {
                if ($(this).is(":checked")) {
                    selected.push(parseInt($(this).attr('id')));
                }
            });

            if(selected.length === 0){
                $('div.venues_selected').html('');
                $('div#selected_venues').hide();

                $('div.venues_excluded').html('');
                $('div#excluded_venues').hide();
                return;
            }
            let api_endpoint = "/select_venues/"
            let url = url_base + api_endpoint;
            {#let token = '{{csrf_token}}';#}

            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                data: {'users': selected},
                {#headers: { "X-CSRFToken": token },#}
                success: function(data) {
                    if(data){
                        let accepted = JSON.parse(data['accepted']);
                        let excluded = JSON.parse(data['excluded']);
                        if(accepted.length > 0) {
                            $('div.venues_accepted').html('');
                            $(accepted).each(function (index, row) {
                                let venue = row['fields']['name'] + " - ";
                                $('div.venues_accepted').append(venue);
                            });
                            $('div#selected_venues').removeClass('d-none');
                        }
                        if(excluded.length > 0) {
                            $('div.venues_excluded').html('');
                            $(excluded).each(function (index, row) {
                                let venue = row['fields']['name'] + " - ";
                                $('div.venues_excluded').append(venue);
                            });
                            $('div#excluded_venues').removeClass('d-none');
                        }
                    }
                },
                error: function( jqXhr, textStatus, errorThrown ){
                        console.log( errorThrown );
                }
            });
        });

    </script>
{% endblock %}